.cover {
    padding: 0 48px;
    width: calc(100% - 48px * 2); /*padding по бокам 48px*/
    margin: auto;
}

@media screen and (max-width: 1279px) {
    .cover {
        width: 100%;
        padding: 0;
    }
}