.cover__content {
    color:  #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    text-decoration: none;
}

@media screen and (max-width: 529px) and (min-width: 320px) {
    .cover__content {
        max-width: 288px;
        margin: 0 auto;
    }
}